@using Domain.Models
@model Presentation.Models.BooksCreateViewModel //This is the model the page will respect by allowing us to access the properties of Book via Model.

<form method="post" action="/Books/Update">
    <table>
        <input type="hidden" name="Book.Id" value="@Model.Book.Id"/>
        <tr>
            <td>Title</td>
            <td><input class="form-control" type="text" name="Book.Title" value="@Model.Book.Title"/></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select class="form-control" name="Book.CategoryFK">
                    <option value="-1">Pick a category</option>
                    @if (Model.Categories != null)
                    {
                        @foreach (Category category in Model.Categories)
                        {
                            @if(Model.Book.CategoryFK == category.Id)
                            {
                                <option value="@category.Id" selected>@category.Name</option>
                            } 
                            else
                            {
                                //Value is what will be submitted, normally IDs are submitted and names are displayed.
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Wholesale price</td>
            <td><input class="form-control" type="number" name="Book.WholesalePrice" value="@Model.Book.WholesalePrice" /></td>
        </tr>
        <tr>
            <td>Published Year</td>
            <td><input class="form-control" type="number" name="Book.PublishedYear" value="@Model.Book.PublishedYear"/></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input class="form-control" type="number" name="Book.Stock" value="@Model.Book.Stock"/></td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>